In [17]:
import pandas as pd
import numpy as np
from termcolor import colored
from sklearn.preprocessing import LabelEncoder

In [4]:
train_values = pd.read_csv('./Datasets/train_values.csv')
train_labels = pd.read_csv('./Datasets/train_labels.csv')

print("\n Training Data \n ")

train_values.head()

 Training Data

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_values = pd.read_csv("./Datasets/test_values.csv")
print(colored("\n Testing Data \n ",'blue'))
test_values.head()

 Testing Data

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0

In [7]:
train_rows,train_cols = train_values.shape
test_rows,test_cols = test_values.shape
print(f"Training\n  Rows : {train_rows} | Columns : {train_cols}")
print(f"Testing \n  Rows : {test_rows}  | Columns : {test_cols}")

Training
  Rows : 260601 | Columns : 39
Testing
  Rows : 86868  | Columns : 39

In [10]:
print("Training Labels")
train_labels.head()

Training Labels

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

### Combining Dataset
**Combining the features and labels for shuffling**<br>
**Remove building_id coulumn to misguide the model**

In [16]:
train_values['damage_grade'] = train_labels['damage_grade']

combined_df = train_values.drop(columns=['building_id'])
combined_df.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3

### Convert Categorical features into Numerical features

In [25]:
label_encoder = LabelEncoder()

categorical = [f for f in combined_df.columns if combined_df.dtypes[f] == 'object']

for col in categorical:
        combined_df[col] = label_encoder.fit_transform(combined_df[col])

encoded_df = combined_df

categorical = [f for f in encoded_df.columns if encoded_df.dtypes[f] == 'object']

if len(categorical)!=0:
     print("Categorical Values found before training!!")
else:
    print(colored("No Categorical Features Found -ready-for training",'blue'))

No Categorical Features Found -ready-for training

In [32]:
from sklearn.preprocessing import StandardScaler
 
scaler = StandardScaler()
scaled_data = scaler.fit_transform(encoded_df.drop(columns=['damage_grade']))
damage_grade = encoded_df['damage_grade']
scaled_df = pd.DataFrame(scaled_data,
                         columns=encoded_df.columns[:-1])
scaled_df['damage_grade'] = damage_grade
display(scaled_df.head())

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,-0.983414,-0.518705,1.629055,-0.178274,0.047100,-0.459460,-0.226419,0.437580,-0.205535,-0.605248,...,-0.186537,-0.09037,-0.030676,-0.018996,-0.032738,-0.013714,-0.012076,-0.009395,-0.071731,3
1,-0.734459,0.481998,-0.945017,-0.178274,-0.224765,-0.004110,0.816109,-0.999121,-0.205535,-0.605248,...,-0.186537,-0.09037,-0.030676,-0.018996,-0.032738,-0.013714,-0.012076,-0.009395,-0.071731,2
2,0.883744,-0.819158,0.744612,-0.178274,-0.224765,-0.687135,-0.226419,0.437580,-0.205535,-0.605248,...,-0.186537,-0.09037,-0.030676,-0.018996,-0.032738,-0.013714,-0.012076,-0.009395,-0.071731,3
3,1.008221,-0.685893,1.216589,-0.178274,-0.224765,-0.459460,-0.226419,0.437580,-0.205535,-0.605248,...,-0.186537,-0.09037,-0.030676,-0.018996,-0.032738,-0.013714,-0.012076,-0.009395,-0.071731,2
4,-0.361028,-1.381296,-1.308119,1.195989,0.047100,-0.004110,1.858636,0.437580,-0.205535,-0.605248,...,-0.186537,-0.09037,-0.030676,-0.018996,-0.032738,-0.013714,-0.012076,-0.009395,-0.071731,3

#### Saving the preprocessed Datasets

In [33]:
encode_df.to_csv("./Datasets/encoded_df.csv")
scaled_df.to_csv("./Datasets/Scaled_df.csv",index=False)